<!DOCTYPE html>
<html>
<head>
	<title>Add Pet Name and Age</title>
</head>
<body>
	<form>
		<input type="text" name="name" placeholder="Name">
		<input type="integer" name="age" placeholder="Age">
		<button type="submit">Save</button>
	</form>
</body>
</html>